body {
margin: 0;
padding: 20px;
font-family: Arial, sans-serif;
min-height: 100vh;
}

.contenedor {
max-width: 1000px;
margin: 0 auto;
padding: 10px;
}

.nmenu {
width: 100%;
color: #000000;
border-collapse: collapse;
margin-bottom: 40px;
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.nmenu td {
width: 20%;
text-align: center;
background-color: #815131;
border: 1px solid #000000;
padding: 12px 0;
}


.nmenu a {
color: #000000;
text-decoration: none;
font-size: 19px;
font-weight: 500;
display: block;
}

.tabla { 
text-align:left
}

.nmenu td:hover {
background-color: #212411;
}

.fondo {
background-color: #9494942c;
border-radius: 5px;
padding: 12px;
max-width: 500px;
min-height: 400px;
}

.button-column {
width: 30%;
vertical-align: middle;
text-align: center;
}


.botonr {
background-color: #234252;
color: #ffffff;
border: 1px solid #10263b;
padding: 10px 25px;
font-size: 9px;
font-style: arial;
}
.titulo{
    background-color: #ffffff;
    max-width: 450;
    min-height: 50px;
text-align:left;}